<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body>
    <slot />
    <script
      src="https://ai.tm.com.my/iar-widget/iar-widget.js"
      data-api-key="9a0ebe991d53420896cef694b35d5c71"
      data-chatbot-name="IAR-2025-VLLM-PROD"
      data-first-message="Hi and a good day! How can I assist you today? I can help you with information from TM's Integrated Annual Report."
    ></script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
